@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Jeju Gothic';
}

.img {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("../../images/concrete.jpg");
}

.img2 {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-color: black;
}

.content{
  position: relative;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  z-index: 10;
  margin-top: -5%;
  flex-direction: column;
}
.searchBox {
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 5px;
  z-index: 5;
}
.MapContainer {
  position: absolute;
  z-index: 4;
}
.button {
  position: relative;
  z-index: 5;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.title{
  font-size: 2em;
}
.view{
  padding: 10px 10px;
  border: 2px solid lightgray;
  color: lightgray;
  text-decoration: none;
  margin-top: 1rem;
}

.view:hover{
  padding: 10px 10px;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: .5s ease-out;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
}
