@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
* {
  box-sizing: border-box;

}
body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}