.BoardBox  {
    background-color: #fff;
    color: #353535;
    padding: 1px 15px;
    border: 1px solid #ddd;
    margin: 0px -1px -1px -1px;
    font-family: 'Jeju Gothic';
    font-weight: lighter;
}

.BoardUser  {
    display: flex;
    height: 22px;
    margin-top: 2px;
    margin-bottom: 12px;
    justify-content: space-between;
    text-decoration: none;
}
  
.BoardUserImg  {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    margin-right: 6px;
}
  
.BoardUserID  {
    color: #757575;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
}
  
.BoardTime  {
    color: #aaa;
    font-size: 12px;
    line-height: 22px;
    padding-left: 8px;
    text-align: left;
}
  
.BoardTitle  {
    font-weight: bold;
    margin-bottom: 4px;
    color: black;
    font-size: 13px;
}
  
.BoardContent  {
    font-weight: normal;
    margin-bottom: 8px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: black;
    font-size: 10px;
}

.Content {
    text-decoration: none;
}