.CommentBox {
    background-color: #fff;
    color: #353535;
    font-size: 13px;
    padding: 14px 12px;
    border: 1px solid #ddd;
    margin: 0px -1px -1px -1px;
}
  
.CommentUser {
    display: flex;
    height: 20px;
    margin-bottom: 8px;
    justify-content: space-between;
}
  
.CommentUserImg {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    margin-right: 4px;
}
  
.CommentUserID {
    color: #757575;
    font-size: 11px;
    font-weight: bold;
    line-height: 22px;
} 
  
.CommentContent {
    font-weight: normal;
    margin-bottom: 6px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
  
.CommentTime  {
    color: #aaa;
    font-size: 11px;
    line-height: 22px;
    text-align: left;
}
  