.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    text-align: center;
    background: transparent;
    color: whitesmoke;
}
.copy{
    display: inline-block;
    margin-top: 50px;
}